<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/bottom.css">
</head>
<body>
   
    <h1>О НАС</h1>
    <span>Это Pet-Project магазина, который я делаю впервые</span>
    <p>\^o^/</p>
    <button class="back">Вернуться на главную</button>
    <script src="/js/about.js"></script>
</body>
</html>
