<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ОШИБКА</title>
</head>
<body>
    ОШИБКА
    <P>такой страницы нет перейдите на главную</P>

    <!-- Проверяем наличие параметра запроса "error" и отображаем сообщение -->
<% if (typeof error !== 'undefined') { %>
    <script>alert('<%= error %>')</script>
  <% } %>
  
</body>
</html>