.maincontainer_content_left {

    width: 20%;
    border: 0.3px solid;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.content_l_btn {
    background: none;
    border: none;
    text-align: center;
    display: block;
}

.content_l_btn:hover {
    background-color: #f0f0f0;
    font-size: 1.3em;
    background: none;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
}

.content_l_btn{
    font-size: 20px;
    text-align: center;
    display: block;
}

hr {
    border: 1px solid rgb(0, 0, 0);
    border-style: solid;
}


li button:hover {
    text-decoration: underline;
    color: rgb(61, 131, 131);
}

ul h1 {
    padding-top: 20px;
}

.maincontainer_content_left_mini {
    width: 95%;
    height: 98%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(48, 47, 47, 0.11);
}