<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="cart_all">
        <div class="cart_all_content">
            <div class="cart_all_content_left">12</div>
            <div class="cart_all_content_middle">34</div>
            <div class="cart_all_content_right">56</div>
        </div>
    </div>
</body>

</html>