<head>
    <link rel="stylesheet" href="/css/left.css">
</head>

<div class="maincontainer_content_left">
    <ul>
        <h1>Каталог</h1>
        <hr>
        <li><button>Test1</button></li>
        <hr>
        <li><button>Test2</button></li>
        <hr>
        <li><button>Test3</button></li>
        <hr>
        <li><button>Test4</button></li>
        <hr>
        <li><button>Test5</button></li>
        <hr>
        <li><button>Test6</button></li>
        <hr>
        <li><button>Test7</button></li>
        <hr>
    </ul>
    
</div>