<head>
    <link rel="stylesheet" href="/css/left.css">
</head>

<div class="maincontainer_content_left">
    <div class="maincontainer_content_left_mini">
        <ul>
            <h1>Каталог</h1>
            <hr>
            <li><button class="content_l_btn">Test1</button></li>
            <hr>
            <li><button class="content_l_btn">Test2</button></li>
            <hr>
            <li><button class="content_l_btn">Test3</button></li>
            <hr>
            <li><button class="content_l_btn">Test4</button></li>
            <hr>
            <li><button class="content_l_btn">Test5</button></li>
            <hr>
            <li><button class="content_l_btn">Test6</button></li>
            <hr>
            <li><button class="content_l_btn">Test7</button></li>
        </ul>
    </div>
</div>