<head>
    <link rel="stylesheet" href="./css/content_last.css">
</head>
<div class="content_last">
    <div class="content_last_left"></div>
    <%- include('./content_last_middle.ejs') %>
    <div class="content_last_right"></div>
    
</div>