<div class="maincontainer_content_middle " id="section1">
    <div class="arrows">
        <button id="prevButton" class="arrowleft ">
            <i class="fa-solid fa-chevron-left fa-3xl"></i>
        </button>
        <button id="nextButton" class="arrowright ">
           <i class="fa-solid fa-chevron-right fa-3xl"></i>
        </button>
    </div>
    <%- include('./section.ejs') %>
</div>