<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/content_last_middle.css">
</head>
<div class="content_last_middle">
    <div class="container_FAQ">
        <h4>Частые вопросы</h4>
        <div class="FAQ">
            <p>Как можно оплатить покупку?</p>
            <button class="FAQ_btn">
                <i class="fa-solid fa-chevron-down fa-xl"></i>
            </button>
            <div class="FAQ_content">
                <p>Ответ на вопрос о способах оплаты...</p>
            </div>
        </div>
        <div class="FAQ">
            <p>Доставка</p>
            <button class="FAQ_btn">
                <i class="fa-solid fa-chevron-down fa-xl"></i>
            </button>
            <div class="FAQ_content">
                <p>Ответ на вопрос о доставке...</p>
            </div>
        </div>
        <div class="FAQ">
            <p>Время ожидания</p>
            <button class="FAQ_btn">
                <i class="fa-solid fa-chevron-down fa-xl"></i>
            </button>
            <div class="FAQ_content">
                <p>Ответ на вопрос о времени ожидания...</p>
            </div>
        </div>
        <div class="FAQ">
            <p>Гарантия и возврат</p>
            <button class="FAQ_btn">
                <i class="fa-solid fa-chevron-down fa-xl"></i>
            </button>
            <div class="FAQ_content">
                <p>Ответ на вопрос о гарантии и возврате...</p>
            </div>
        </div>
    </div>
</div>