<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bottom.css">
</head>
<body>
    <footer>
        <div class="footerp">
                <button class="footerbuttons aboutusbtn2">О нас</button>
                <button class="footerbuttons bugbtn">Нашли баг?</button>
        </div>
    </footer>
    <script src="/js/aboutin.js"></script>
</body>
</html>
