<div class="login">
    <button class="xmark">
        <i class="fa-solid fa-x fa-xl xmark" style="color: rgb(247 247 247);"></i>
    </button>

    </button>
    <div class="login_flex">
        <div class="login_image"></div>
        <div class="login_delimiter"></div>
    </div>
    <div class="login_interface">
        <!-- Ввод логина и пароля -->
        <div class="inputlogin">
            <i class="fa-solid fa-arrow-right-to-bracket fa-lg keypos" style="color: #74C0FC;"></i>
            <input class="input1" placeholder="Введите логин" type="text">
        </div>
        <div class="inputlogin">
            <i class="fa-solid fa-key fa-lg keypos" style="color: #000000;"></i>
            <input class="input1" placeholder="Введите пароль" type="password">
        </div>

        <div class="inputlogin">
            <button class="loginmainbtn">Авторизация</button>
        </div>
        <button class="registerbtn">
            <i class="fa-regular fa-registered fa-xl" style="color: #ffffff;"></i>
        </button>
    </div>
</div>
