<div class="nav_middle">
    <input placeholder="Введите название товара который вам интересен" name="" id=""
        class="nav_middle_whitebg_search">
    <button class="Search"><i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i></button>
</div>