<nav>
    <div class="nav_left">
        <h1>Для логотипа</h1>
        <img src="./images/OIG1.jpg" alt="">
    </div>
    <%- include('./nav_middle.ejs') %>
    <div class="burgerhidden"></div>
    <div class="nav_right">
        <div class="nav_right_buttons aboutusbtn">
            <i class="fa-sharp fa-regular fa-address-card fa-xl " style="color: #b0cfe1; "></i>
        </div>
        <div class="nav_right_buttons">
            <i class="fa-solid fa-cart-shopping fa-xl " style="color: #b0cfe1;"></i>
        </div>
        <button class="nav_right_buttons userbutton">
            <i class="fa-regular fa-user fa-xl userbutton" style="color: #b0cfe1;"></i>
        </button>
    </div>
</nav>