<nav>
    <div class="nav_left">
        <h1>Место для логотипа</h1>
    </div>
    <%- include('./nav_middle.ejs') %>
    <div class="burgerhidden"></div>
    <div class="nav_right">
        <div class="nav_right_buttons">
            <i class="fa-solid fa-cart-shopping fa-xl " style="color: #000000;"></i>
        </div>
        <button class="nav_right_buttons userbutton">
            <i class="fa-regular fa-user fa-xl userbutton" style="color: #000000;"></i>
        </button>
    </div>
</nav>