<head>
    <link rel="stylesheet" href="/css/newnaw.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="newnav">
            <button class="nav_logo">
                <h1>Place Your Logo</h1>
            </button>
    </div>
</body>