<div class="register_all">
    <button class="arrow">
        <i class="fa-solid fa-arrow-left fa-lg" style="color: #ffffff;"></i>
    </button>
    <div class="register_flex">
        <div class="login_image"></div>
        <div class="login_delimiter"></div>
    </div>
    <form class="register_interface" action="/check-user" method="post">
        <div class="input_register">
            <i class="fa-regular fa-user"></i>
            <input class="input1" placeholder="Введите логин" type="text" name="username">
        </div>
        <div class="input_register">
            <i class="fa-solid fa-key"></i>
            <input class="input1" placeholder="Введите пароль" type="password" name="password">
        </div>
        <div class="input_register">
            <button class="regclick" type="submit">Регистрация</button>
        </div>
    </form>
</div>
