<head>
    <link rel="stylesheet" href="/css/topmiddlecontent.css">
</head>
<body>
    <div class="topmiddlecontent">
        <div class="slider">
            
        </div>
    </div>
</body>