<head>
    <link rel="stylesheet" href="/css/topmiddlecontent.css">
</head>
<body>
    <div class="topmiddlecontent">
        <div class="slider">
            <h1>Сделать слайдер для актуальных товаров</h1>
            <div class="slide"><img src="" alt=""></div>
            <div class="slide"><img src="" alt=""></div>
            <div class="slide"><img src="" alt=""></div>
            <div class="slide"><img src="" alt=""></div>
        </div>
    </div>
</body>